<!DOCTYPE html>
<html>
<head>
    <title>CNM - Comcast Network Management</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/extjs/resources/yosty.css">
    <link rel="stylesheet" type="text/css" href="/extjs/resources/css/cnmCustom.css">
    <script type="text/javascript" src="/extjs/ext-all.js"></script>

	<script type="text/javascript" src="../ext/direct/getactions/"></script>
    <script>
	Ext.Direct.addProvider(Ext.app.REMOTING_API);
    </script>
    <script type="text/javascript" src="/app.js"></script>
</head>
<body></body>
</html>