/* 
    Document   : cnmCustom
    Created on : Apr 5, 2013, 3:53:11 PM
    Author     : wrenbjor
    Description:
        Purpose of the stylesheet follows.
*/

.error   { background: #FFCCAA; border: 1px solid #FF3334; }
.info    { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
.success { background: #CCFF99; border: 1px solid #99DD66; }

